[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[access "refs/*"]
	owner = group user/Hyunseok Jung (aronjung)
	owner = group user/Sungwoo Park (swpark)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Hyunseok Jung (aronjung)
	label-Verified = -1..+1 group user/Hyunseok Jung (aronjung)
	push = group user/Hyunseok Jung (aronjung)
	read = group user/Hyunseok Jung (aronjung)
	rebase = group user/Hyunseok Jung (aronjung)
	removeReviewer = group user/Hyunseok Jung (aronjung)
	submit = group user/Hyunseok Jung (aronjung)
[access "refs/heads/*"]
	create = group user/Hyunseok Jung (aronjung)
	push = +force group user/Hyunseok Jung (aronjung)
	pushMerge = group user/Hyunseok Jung (aronjung)
	read = group user/Hyunseok Jung (aronjung)
[access "refs/tags/*"]
	push = group user/Hyunseok Jung (aronjung)
	push = +force group user/Hyunseok Jung (aronjung)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
